In [2]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import plotly.express as px
import warnings
warnings.filterwarnings('ignore')

In [3]:
df=pd.read_csv('Travel.csv')
df.head()

,CustomerID,ProdTaken,Age,TypeofContact,CityTier,DurationOfPitch,Occupation,Gender,NumberOfPersonVisiting,NumberOfFollowups,ProductPitched,PreferredPropertyStar,MaritalStatus,NumberOfTrips,Passport,PitchSatisfactionScore,OwnCar,NumberOfChildrenVisiting,Designation,MonthlyIncome
0,200000,1,41.0,Self Enquiry,3,6.0,Salaried,Female,3,3.0,Deluxe,3.0,Single,1.0,1,2,1,0.0,Manager,20993.0
1,200001,0,49.0,Company Invited,1,14.0,Salaried,Male,3,4.0,Deluxe,4.0,Divorced,2.0,0,3,1,2.0,Manager,20130.0
2,200002,1,37.0,Self Enquiry,1,8.0,Free Lancer,Male,3,4.0,Basic,3.0,Single,7.0,1,3,0,0.0,Executive,17090.0
3,200003,0,33.0,Company Invited,1,9.0,Salaried,Female,2,3.0,Basic,3.0,Divorced,2.0,1,5,1,1.0,Executive,17909.0
4,200004,0,NaN,Self Enquiry,1,8.0,Small Business,Male,2,3.0,Basic,4.0,Divorced,1.0,0,5,1,0.0,Executive,18468.0

# **Data Cleaning**

In [4]:
df.isnull().sum()

CustomerID                    0
ProdTaken                     0
Age                         226
TypeofContact                25
CityTier                      0
DurationOfPitch             251
Occupation                    0
Gender                        0
NumberOfPersonVisiting        0
NumberOfFollowups            45
ProductPitched                0
PreferredPropertyStar        26
MaritalStatus                 0
NumberOfTrips               140
Passport                      0
PitchSatisfactionScore        0
OwnCar                        0
NumberOfChildrenVisiting     66
Designation                   0
MonthlyIncome               233
dtype: int64

In [10]:
df['Gender'].value_counts()

Gender
Male      2916
Female    1972
Name: count, dtype: int64

In [12]:
df['MaritalStatus'].value_counts()

MaritalStatus
Married      2340
Unmarried    1598
Divorced      950
Name: count, dtype: int64

In [8]:
df['TypeofContact'].value_counts()

TypeofContact
Self Enquiry       3444
Company Invited    1419
Name: count, dtype: int64

In [9]:
df['Gender']=df['Gender'].replace('Fe Male','Female')

In [11]:
df['MaritalStatus']=df['MaritalStatus'].replace('Single','Unmarried')

In [13]:
df.head()

,CustomerID,ProdTaken,Age,TypeofContact,CityTier,DurationOfPitch,Occupation,Gender,NumberOfPersonVisiting,NumberOfFollowups,ProductPitched,PreferredPropertyStar,MaritalStatus,NumberOfTrips,Passport,PitchSatisfactionScore,OwnCar,NumberOfChildrenVisiting,Designation,MonthlyIncome
0,200000,1,41.0,Self Enquiry,3,6.0,Salaried,Female,3,3.0,Deluxe,3.0,Unmarried,1.0,1,2,1,0.0,Manager,20993.0
1,200001,0,49.0,Company Invited,1,14.0,Salaried,Male,3,4.0,Deluxe,4.0,Divorced,2.0,0,3,1,2.0,Manager,20130.0
2,200002,1,37.0,Self Enquiry,1,8.0,Free Lancer,Male,3,4.0,Basic,3.0,Unmarried,7.0,1,3,0,0.0,Executive,17090.0
3,200003,0,33.0,Company Invited,1,9.0,Salaried,Female,2,3.0,Basic,3.0,Divorced,2.0,1,5,1,1.0,Executive,17909.0
4,200004,0,NaN,Self Enquiry,1,8.0,Small Business,Male,2,3.0,Basic,4.0,Divorced,1.0,0,5,1,0.0,Executive,18468.0

In [18]:
features_with_na=[features for features in df.columns if df[features].isnull().sum()>1]
for features in features_with_na:
    print(features,np.round(df[features].isnull().mean()*100,4),'% missing values')

Age 4.6236 % missing values
TypeofContact 0.5115 % missing values
DurationOfPitch 5.135 % missing values
NumberOfFollowups 0.9206 % missing values
PreferredPropertyStar 0.5319 % missing values
NumberOfTrips 2.8642 % missing values
NumberOfChildrenVisiting 1.3502 % missing values
MonthlyIncome 4.7668 % missing values

In [20]:
df[features_with_na].select_dtypes(exclude='object').describe()

,Age,DurationOfPitch,NumberOfFollowups,PreferredPropertyStar,NumberOfTrips,NumberOfChildrenVisiting,MonthlyIncome
count,4662.000000,4637.000000,4843.000000,4862.000000,4748.000000,4822.000000,4655.000000
mean,37.622265,15.490835,3.708445,3.581037,3.236521,1.187267,23619.853491
std,9.316387,8.519643,1.002509,0.798009,1.849019,0.857861,5380.698361
min,18.000000,5.000000,1.000000,3.000000,1.000000,0.000000,1000.000000
25%,31.000000,9.000000,3.000000,3.000000,2.000000,1.000000,20346.000000
50%,36.000000,13.000000,4.000000,3.000000,3.000000,1.000000,22347.000000
75%,44.000000,20.000000,4.000000,4.000000,4.000000,2.000000,25571.000000
max,61.000000,127.000000,6.000000,5.000000,22.000000,3.000000,98678.000000

In [21]:
df.Age.fillna(df.Age.median(),inplace=True)

In [22]:
df.TypeofContact.fillna(df.TypeofContact.mode()[0],inplace=True)

In [26]:
df.DurationOfPitch.fillna(df.DurationOfPitch.median(),inplace=True)

In [41]:
df.NumberOfFollowups.fillna(df.NumberOfFollowups.mode(),inplace=True)

In [28]:
df.PreferredPropertyStar.fillna(df.PreferredPropertyStar.mode()[0],inplace=True)

In [31]:
df.NumberOfTrips.fillna(df.NumberOfTrips.median(),inplace=True)

In [32]:
df.NumberOfChildrenVisiting.fillna(df.NumberOfChildrenVisiting.mode()[0],inplace=True)

In [36]:
df.MonthlyIncome.fillna(df.MonthlyIncome.median(),inplace=True)

In [42]:
df.isnull().sum()

CustomerID                   0
ProdTaken                    0
Age                          0
TypeofContact                0
CityTier                     0
DurationOfPitch              0
Occupation                   0
Gender                       0
NumberOfPersonVisiting       0
NumberOfFollowups           45
ProductPitched               0
PreferredPropertyStar        0
MaritalStatus                0
NumberOfTrips                0
Passport                     0
PitchSatisfactionScore       0
OwnCar                       0
NumberOfChildrenVisiting     0
Designation                  0
MonthlyIncome                0
dtype: int64

In [44]:
df['NumberOfFollowups'].fillna(df['NumberOfFollowups'].mode()[0], inplace=True)

In [45]:
df.isnull().sum()

CustomerID                  0
ProdTaken                   0
Age                         0
TypeofContact               0
CityTier                    0
DurationOfPitch             0
Occupation                  0
Gender                      0
NumberOfPersonVisiting      0
NumberOfFollowups           0
ProductPitched              0
PreferredPropertyStar       0
MaritalStatus               0
NumberOfTrips               0
Passport                    0
PitchSatisfactionScore      0
OwnCar                      0
NumberOfChildrenVisiting    0
Designation                 0
MonthlyIncome               0
dtype: int64

In [50]:
print('CustomerID' in df.columns)  # Should return Tru

True

In [51]:
df = df.drop('CustomerID', axis=1)

In [52]:
df.head()

,ProdTaken,Age,TypeofContact,CityTier,DurationOfPitch,Occupation,Gender,NumberOfPersonVisiting,NumberOfFollowups,ProductPitched,PreferredPropertyStar,MaritalStatus,NumberOfTrips,Passport,PitchSatisfactionScore,OwnCar,NumberOfChildrenVisiting,Designation,MonthlyIncome
0,1,41.0,Self Enquiry,3,6.0,Salaried,Female,3,3.0,Deluxe,3.0,Unmarried,1.0,1,2,1,0.0,Manager,20993.0
1,0,49.0,Company Invited,1,14.0,Salaried,Male,3,4.0,Deluxe,4.0,Divorced,2.0,0,3,1,2.0,Manager,20130.0
2,1,37.0,Self Enquiry,1,8.0,Free Lancer,Male,3,4.0,Basic,3.0,Unmarried,7.0,1,3,0,0.0,Executive,17090.0
3,0,33.0,Company Invited,1,9.0,Salaried,Female,2,3.0,Basic,3.0,Divorced,2.0,1,5,1,1.0,Executive,17909.0
4,0,36.0,Self Enquiry,1,8.0,Small Business,Male,2,3.0,Basic,4.0,Divorced,1.0,0,5,1,0.0,Executive,18468.0

# **Feature Engineering**

In [58]:
##create new column for feature
df['TotalVisiting']=df['NumberOfChildrenVisiting']+df['NumberOfPersonVisiting']
df=df.drop(columns=['NumberOfChildrenVisiting','NumberOfPersonVisiting'])

In [59]:
##get all numeric features
numeric_features=[feature for feature in df.columns if df[feature].dtype!='O']
print('Number of numeric features:',len(numeric_features))

Number of numeric features: 12

In [60]:
##get all categorial features
categorical_features=[feature for feature in df.columns if df[feature].dtype=='O']
print('Number of categorical features:',len(categorical_features))

Number of categorical features: 6

In [61]:
##discrete features
discrete_features=[feature for feature in numeric_features if len(df[feature].unique())<25]
print('Number of discrete features:',len(discrete_features))

Number of discrete features: 9

In [62]:
#continous features
continous_features=[feature for feature in numeric_features if feature not in discrete_features]
print('Number of continous features:',len(continous_features))

Number of continous features: 3

In [64]:
from sklearn.model_selection import train_test_split
X=df.drop(['ProdTaken'],axis=1)
y=df['ProdTaken']

In [66]:
y.value_counts()

ProdTaken
0    3968
1     920
Name: count, dtype: int64

In [67]:
X.head()

,Age,TypeofContact,CityTier,DurationOfPitch,Occupation,Gender,NumberOfFollowups,ProductPitched,PreferredPropertyStar,MaritalStatus,NumberOfTrips,Passport,PitchSatisfactionScore,OwnCar,Designation,MonthlyIncome,TotalVisiting
0,41.0,Self Enquiry,3,6.0,Salaried,Female,3.0,Deluxe,3.0,Unmarried,1.0,1,2,1,Manager,20993.0,3.0
1,49.0,Company Invited,1,14.0,Salaried,Male,4.0,Deluxe,4.0,Divorced,2.0,0,3,1,Manager,20130.0,5.0
2,37.0,Self Enquiry,1,8.0,Free Lancer,Male,4.0,Basic,3.0,Unmarried,7.0,1,3,0,Executive,17090.0,3.0
3,33.0,Company Invited,1,9.0,Salaried,Female,3.0,Basic,3.0,Divorced,2.0,1,5,1,Executive,17909.0,3.0
4,36.0,Self Enquiry,1,8.0,Small Business,Male,3.0,Basic,4.0,Divorced,1.0,0,5,1,Executive,18468.0,2.0

In [68]:
X_train,X_test,y_train,y_test=train_test_split(X,y,test_size=0.2,random_state=42)

In [69]:
X_train.shape,X_test.shape

((3910, 17), (978, 17))

In [70]:
X.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4888 entries, 0 to 4887
Data columns (total 17 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   Age                     4888 non-null   float64
 1   TypeofContact           4888 non-null   object
 2   CityTier                4888 non-null   int64
 3   DurationOfPitch         4888 non-null   float64
 4   Occupation              4888 non-null   object
 5   Gender                  4888 non-null   object
 6   NumberOfFollowups       4888 non-null   float64
 7   ProductPitched          4888 non-null   object
 8   PreferredPropertyStar   4888 non-null   float64
 9   MaritalStatus           4888 non-null   object
 10  NumberOfTrips           4888 non-null   float64
 11  Passport                4888 non-null   int64
 12  PitchSatisfactionScore  4888 non-null   int64
 13  OwnCar                  4888 non-null   int64
 14  Designation             4888 non-null   object
 15  MonthlyIncome           4888 non-null   float64
 16  TotalVisiting           4888 non-null   float64
dtypes: float64(7), int64(4), object(6)
memory usage: 649.3+ KB

In [72]:
cat_features=X.select_dtypes(include='object').columns
num_featues=X.select_dtypes(exclude='object').columns

In [75]:
from sklearn.preprocessing import OneHotEncoder,StandardScaler
from sklearn.compose import ColumnTransformer

In [76]:
numeric_transformer=StandardScaler()
oh_transformer=OneHotEncoder(drop='first')

preprocessor=ColumnTransformer(
    [
        ('OneHotEncoder',oh_transformer,cat_features),
        ('StandardScaler',numeric_transformer,num_featues)
    ]
)

In [77]:
#applying transformation in training(fit_transform)
X_train=preprocessor.fit_transform(X_train)
X_test=preprocessor.transform(X_test)

In [78]:
pd.DataFrame(X_train)

,0,1,2,3,4,5,6,7,8,9,...,16,17,18,19,20,21,22,23,24,25
0,1.0,0.0,0.0,1.0,1.0,0.0,0.0,0.0,0.0,0.0,...,-0.721400,-1.020350,1.284279,-0.725271,-0.127737,-0.632399,0.679690,0.782966,-0.382245,-0.774151
1,1.0,0.0,1.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0,...,-0.721400,0.690023,0.282777,-0.725271,1.511598,-0.632399,0.679690,0.782966,-0.459799,0.643615
2,1.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,-0.721400,-1.020350,0.282777,1.771041,0.418708,-0.632399,0.679690,0.782966,-0.245196,-0.065268
3,1.0,0.0,1.0,0.0,1.0,1.0,0.0,0.0,0.0,1.0,...,-0.721400,-1.020350,1.284279,-0.725271,-0.127737,-0.632399,1.408395,-1.277194,0.213475,-0.065268
4,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,...,-0.721400,2.400396,-1.720227,-0.725271,1.511598,-0.632399,-0.049015,-1.277194,-0.024889,2.061382
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3905,1.0,0.0,0.0,1.0,1.0,0.0,0.0,0.0,0.0,0.0,...,-0.721400,-0.653841,1.284279,-0.725271,-0.674182,-0.632399,-1.506426,0.782966,-0.536973,0.643615
3906,1.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,...,1.455047,-0.898180,-0.718725,1.771041,-1.220627,-0.632399,1.408395,0.782966,1.529609,-0.065268
3907,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,...,1.455047,1.545210,0.282777,-0.725271,2.058043,-0.632399,-0.777720,0.782966,-0.360576,0.643615
3908,1.0,0.0,0.0,1.0,0.0,1.0,0.0,0.0,0.0,1.0,...,1.455047,1.789549,1.284279,-0.725271,-0.127737,-0.632399,-1.506426,0.782966,-0.252799,0.643615
3909,0.0,0.0,1.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,...,-0.721400,-0.776011,0.282777,-0.725271,-1.220627,1.581280,-0.049015,-1.277194,-1.082511,-1.483035

In [94]:
from sklearn.ensemble import RandomForestClassifier
from sklearn.linear_model import LogisticRegression
from sklearn.tree import DecisionTreeClassifier
from sklearn.metrics import accuracy_score, confusion_matrix, classification_report, precision_score, recall_score, f1_score, roc_auc_score

In [95]:
models={
    "Decision Tree":DecisionTreeClassifier(),
    "Logistic Regression":LogisticRegression(),
    "Random Forest":RandomForestClassifier()
}
for i in range(len(list(models))):
    model=list(models.values())[i]
    model.fit(X_train,y_train)  #Train Model
    #Make Predication

    y_train_pred=model.predict(X_train)
    y_test_pred=model.predict(X_test)

    ##Training Set Performance
    model_train_accuracy=accuracy_score(y_train,y_train_pred)
    model_train_f1=f1_score(y_train,y_train_pred,average='weighted')
    model_train_recall=recall_score(y_train,y_train_pred)
    model_train_precision=precision_score(y_train,y_train_pred)
    model_train_roc=roc_auc_score(y_train,y_train_pred)

    ##Test Set Performance
    model_test_accuracy=accuracy_score(y_test,y_test_pred)
    model_test_f1=f1_score(y_test,y_test_pred,average='weighted')
    model_test_recall=recall_score(y_test,y_test_pred)
    model_test_precision=precision_score(y_test,y_test_pred)
    model_test_roc=roc_auc_score(y_test,y_test_pred)
    print(list(models.keys())[i])
    ##print Training Performance
    print('Model performance for Training set')
    print("Accuracy =>",model_train_accuracy)
    print("F1 score =>",model_train_f1)
    print("Recall =>",model_train_recall)
    print("Precision =>",model_train_precision)
    print("Roc Auc Score =>",model_train_roc)
    print('='*35)
    print('Model performance for Test set')
    print('='*35)
    print("Accuracy =>",model_test_accuracy)
    print("F1 score =>",model_test_f1)
    print("Recall =>",model_test_recall)
    print("Precision =>",model_test_precision)
    print("Roc Auc Score =>",model_test_roc)
    print('='*35)
    print('\n')
    ##print Test Performance

Decision Tree
Model performance for Training set
Accuracy => 1.0
F1 score => 1.0
Recall => 1.0
Precision => 1.0
Roc Auc Score => 1.0
===================================
Model performance for Test set
===================================
Accuracy => 0.9171779141104295
F1 score => 0.9165882585767336
Recall => 0.7696335078534031
Precision => 0.7989130434782609
Roc Auc Score => 0.8613097653625339
===================================


Logistic Regression
Model performance for Training set
Accuracy => 0.8457800511508952
F1 score => 0.8200055871418612
Recall => 0.30315500685871055
Precision => 0.6993670886075949
Roc Auc Score => 0.6366450922379061
===================================
Model performance for Test set
===================================
Accuracy => 0.8353783231083844
F1 score => 0.8078451748606927
Recall => 0.2931937172774869
Precision => 0.6829268292682927
Roc Auc Score => 0.6300784342423011
===================================


Random Forest
Model performance for Training set
Accuracy => 1.0
F1 score => 1.0
Recall => 1.0
Precision => 1.0
Roc Auc Score => 1.0
===================================
Model performance for Test set
===================================
Accuracy => 0.9263803680981595
F1 score => 0.9204103378197602
Recall => 0.643979057591623
Precision => 0.968503937007874
Roc Auc Score => 0.8194482327348203
===================================

In [96]:
##hyper parametrized training
rf_params={
      "max_depth":[5,8,15,None,10],
      "max_features":[5,7,"auto","sqrt",8],
      "min_samples_split":[2,5,10,15],
      "n_estimators":[100,150,200,500,1000]
}

In [97]:
randomcv_models=[
    ("Random Forest",RandomForestClassifier(),rf_params)
]

In [100]:
from sklearn.model_selection import RandomizedSearchCV
model_params={}
for name,model,params in randomcv_models:
    random=RandomizedSearchCV(estimator=model,param_distributions=params,n_iter=100,cv=3,verbose=2,n_jobs=-1)

    random.fit(X_train,y_train)
    model_params[name]=random.best_params_
    print(f"{name} model is trained")
for model_name in model_params:
  print(f"Best params for {model_name} model is {model_params[model_name]}")

Fitting 3 folds for each of 100 candidates, totalling 300 fits
Random Forest model is trained
Best params for Random Forest model is {'n_estimators': 500, 'min_samples_split': 2, 'max_features': 8, 'max_depth': 15}

In [104]:
from sklearn.ensemble import RandomForestClassifier
from sklearn.metrics import accuracy_score, f1_score, recall_score, precision_score, roc_auc_score

# Define the models
models = {
    "Random Forest": RandomForestClassifier(n_estimators=500, min_samples_split=2, max_features=8, max_depth=15)
}

# Iterate through each model
for name, model in models.items():
    model.fit(X_train, y_train)

    # Make predictions
    y_train_pred = model.predict(X_train)
    y_test_pred = model.predict(X_test)

    # Calculate metrics for training set
    model_train_accuracy = accuracy_score(y_train, y_train_pred)
    model_train_f1 = f1_score(y_train, y_train_pred)
    model_train_recall = recall_score(y_train, y_train_pred)
    model_train_precision = precision_score(y_train, y_train_pred)
    model_train_roc = roc_auc_score(y_train, model.predict_proba(X_train)[:, 1])

    # Calculate metrics for test set
    model_test_accuracy = accuracy_score(y_test, y_test_pred)
    model_test_f1 = f1_score(y_test, y_test_pred)
    model_test_recall = recall_score(y_test, y_test_pred)
    model_test_precision = precision_score(y_test, y_test_pred)
    model_test_roc = roc_auc_score(y_test, model.predict_proba(X_test)[:, 1])

    # Print training performance
    print(f'Model performance for Training set ({name})')
    print("Accuracy =>", model_train_accuracy)
    print("F1 score =>", model_train_f1)
    print("Recall =>", model_train_recall)
    print("Precision =>", model_train_precision)
    print("Roc Auc Score =>", model_train_roc)
    print('='*35)

    # Print test performance
    print(f'Model performance for Test set ({name})')
    print('='*35)
    print("Accuracy =>", model_test_accuracy)
    print("F1 score =>", model_test_f1)
    print("Recall =>", model_test_recall)
    print("Precision =>", model_test_precision)
    print("Roc Auc Score =>", model_test_roc)
    print('='*35)
    print('\n')

Model performance for Training set (Random Forest)
Accuracy => 0.99923273657289
F1 score => 0.9979381443298969
Recall => 0.9958847736625515
Precision => 1.0
Roc Auc Score => 1.0
===================================
Model performance for Test set (Random Forest)
===================================
Accuracy => 0.9335378323108384
F1 score => 0.8012232415902141
Recall => 0.6858638743455497
Precision => 0.9632352941176471
Roc Auc Score => 0.9787183086410719
===================================